opencv-python
python-dateutil
matplotlib
scipy
pandas
sympy
nose
networkx
scikit-image
javabridge
python-weka-wrapper
cycler
Cython
h5py
scikit-learn
statistics
pandas_ml
pyxdg
opencv-contrib-python
python-interface
tqdm
sklearn
pyxdg
pascal-voc-writer
psutil
